.create {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.update {
    display: flex;
    justify-content: center;
    gap : 10px;
}

.blog {
    display: flex;
    justify-content: center;
    margin-left: 20vw;
    margin-right: 20vw;
}

.edit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

textarea {
    width: 60vw;
    height: 10vh;
}














