.create {
    display: flex;
    justify-content: left;
    margin-top: 10vh;
    margin-left: 10vh;
}

.update {
    display: flex;
    justify-content: left;
    gap : 10px;
    margin-left: 10vh;
}

.blog {
    display: flex;
    justify-content: left;
    margin-left: 10vh;
}

.edit {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 10vh;
}

textarea {
    width: 80vw;
    height: 10vh;
}








