.create {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.update {
    display: flex;
    justify-content: center;
    gap : 10px;
}

.blog {
    display: flex;
    justify-content: center;
}

.edit {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

textarea {
    width: 40vw;
    height: 10vw;
