.create {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    width: 80vw;
    height: 10vh;
}

.update {
    display: flex;
    justify-content: center;
    gap : 10px;
}

.blog {
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.edit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 80vw;
    height: 10vh;
}














